.DrawArea {

  border: 1px solid #1F5DC1;
  padding: 10px;

}

.DrawArea h1.Word {

  text-align: center;
  font-size: 1.7em;
  color: #F8D718;
  letter-spacing: 3px;

}

.DrawArea .Tools {

  text-align: center;

}

.DrawArea .Tools .Button[name=pencil].pencil, .DrawArea .Tools .Button[name=rubber].rubber {

  color: #F8D718;

}
